/* Open Sans & Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  /* typography */
  --open-sans-font: "Open Sans", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --font-size: 16px;

  /* Colors */
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-dark-blue: hsl(207, 100%, 98%);
  --gray: rgb(186, 186, 186);
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--open-sans-font);
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: var(--poppins-font);
}

/* Container */
.container {
  max-width: 90%;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 2rem 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 1.6rem;
  background-color: var(--pink);
  color: white;
  outline: 0;
  border: 0;
  font-family: var(--open-sans-font);
  font-size: 16px;
  cursor: pointer;
}

.button--outline {
  background-color: white;
}

.button--outline {
  background-color: white;
  color: var(--pink);
  border: 2px solid var(--pink);
}

.button--rounded {
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

.button--shadow-pink {
  -webkit-box-shadow: 0px 0px 20px -6px var(--pink);
  box-shadow: 0px 0px 20px -6px var(--pink);
}

.button--shadow {
  -webkit-box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.43);
}

/* Community */
.community {
  padding: 9rem 0 0;
}

.community__container {
  display: flex;
  flex-direction: column;
}

.community__top {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.community__top__title {
  color: var(--very-dark-cyan);
  margin-bottom: 1.9rem;
  font-size: 2rem;
}

.community__top__descritpion {
  color: var(--very-dark-cyan);
  line-height: 1.6;
  margin-bottom: 1.9rem;
}

.button--get-staretd {
  margin-bottom: 7rem;
}

.community__bottom {
  width: 85%;
  margin: 0 auto;
}

.community__bottom__image {
  width: 100%;
  height: 100%;
}

/* statistics */
.statistics {
  margin-top: 8rem;
}

.statistics__container {
  display: flex;
  flex-direction: column;
}

.communites-formed,
.messages-sent {
  margin: 0 auto 6rem;
}

.statistics__number {
  color: var(--very-dark-cyan);
  font-size: 4rem;
  font-weight: 700;
}

.statistics__description {
  font-size: 1.3rem;
  color: var(--gray);
  text-align: center;
}

/* grow together & Flowing Conversation & Your Users */
.grow-together,
.your-users {
  background-color: var(--very-dark-blue);
}

.grow-together__container,
.flowing-conversation__container,
.your-users__container {
  display: flex;
  flex-direction: column;
}

.grow-together__image,
.flowing-conversation__image,
.your-users__image {
  width: 100%;
  height: 100%;
}

.grow-together__right,
.flowing-conversation__right,
.your-users__right {
  text-align: center;
  padding: 2rem;
  color: var(--very-dark-cyan);
}

.grow-together__title,
.flowing-conversation__title,
.your-users__title {
  margin: 2rem 0 1rem;
  font-size: 1.9rem;
}

.grow-together__description,
.flowing-conversation__description,
.your-users__description {
  font-size: 1.3rem;
  line-height: 1.5;
}

.top-pattern-1 {
  background: url(../images/bg-section-top-mobile-1.svg) no-repeat center/cover;
  height: 180px;
  position: relative;
  bottom: 10rem;
}

.bottom-pattern-1 {
  background: url(../images/bg-section-bottom-mobile-1.svg) no-repeat
    center/cover;
  height: 150px;
  width: 100%;
  position: relative;
  top: 9rem;
}

.flowing-conversation {
  padding: 17rem 0 0;
  margin-bottom: 17rem;
}

.top-pattern-2 {
  background: url(../images/bg-section-top-mobile-2.svg) no-repeat center/cover;
  height: 130px;
  position: relative;
  bottom: 8rem;
}

.bottom-pattern-2 {
  background: url(../images/bg-section-bottom-mobile-2.svg) no-repeat
    center/cover;
  height: 130px;
  width: 100%;
  position: relative;
  top: 8rem;
}

/* Building Community */
.building-community {
  padding: 16rem 0;
}

.building-community__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.building-community__title {
  color: var(--very-dark-cyan);
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  background: var(--very-dark-cyan);
  color: var(--very-dark-blue);
  padding: 3rem 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.newsletter {
  margin-bottom: 3rem;
}

.newsletter__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.3rem;
}

.newsletter__descritpion {
  line-height: 1.7;
  margin-bottom: 1rem;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
}
.form__input {
  width: 100%;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border: 0;
  outline: 0;
  font-family: var(--open-sans-font);
  font-size: var(--font-size);
  padding: 0.9rem;
}

.form__submit {
  align-self: flex-end;
  margin-top: 1rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  padding: 1rem 2rem;
}

.socials .logo {
  width: 240px;
  margin-bottom: 1rem;
}

.socials__description {
  line-height: 1.7;
  margin-bottom: 1.6rem;
}

.socials__phone,
.socials__email {
  display: flex;
  margin-bottom: 1rem;
}

.socials__email {
  margin-bottom: 3rem;
}
.socials__phone img,
.socials__email img {
  width: 23px;
  margin-right: 1rem;
}

.socials__icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 123px;
}

.socials__icons i {
  font-size: 2rem;
}

.footer__top-pattern {
  background: url(../images/bg-footer-top-mobile.svg) no-repeat center/cover;
  height: 130px;
  width: 100%;
  position: relative;
  bottom: 11rem;
}

/* ======== Desktop Design ========= */
@media screen and (min-width: 1120px) {
  /* Community */
  .button--get-staretd,
  .building-community__button {
    padding: 1rem 3.7rem;
  }

  .community__top__descritpion {
    width: 70%;
    margin: 0 auto 2rem;
  }

  /* statistics */

  .statistics__container {
    flex-direction: row;
    margin-bottom: 8rem;
  }

  /* Grow Together & Your Users & Flowing Conversation*/
  .top-pattern-1 {
    background: url(../images/bg-section-top-desktop-1.svg) no-repeat
      center/cover;
  }

  .bottom-pattern-1 {
    background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat
      center/cover;
  }

  .grow-together__container {
    flex-direction: row-reverse;
  }

  .grow-together__right,
  .your-users__right,
  .flowing-conversation__right {
    text-align: left;
    width: 80%;
  }

  /* Flowing Conversation */
  .flowing-conversation__container {
    flex-direction: row;
    justify-content: space-between;
  }

  /* your users */
  .your-users__container {
    flex-direction: row-reverse;
  }

  .top-pattern-2 {
    background: url(../images/bg-section-top-desktop-2.svg) no-repeat
      center/cover;
  }

  .bottom-pattern-2 {
    background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat
      center/cover;
  }

  /* Footer */
  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__top-pattern {
    background: url(../images/bg-footer-top-desktop.svg) no-repeat center/cover;
    height: 150px;
    bottom: 12rem;
  }

  .newsletter,
  .socials {
    width: 40%;
  }
}
